<p>projects works!</p>
<div class = "grid-container">
  <mat-grid-list cols="5" rowHeight="3:2">
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class = "card">
        <mat-card-title class = "center-title">Personal Website </mat-card-title>
        <div class = "card-image-container">
          <img mat-card-img src = "assets/img/website_card.PNG">
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
