/*@import '~@angular/material/theming';*/
:host{
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
.example-container {

}
.content {
  display: flex;
  flex: 1 1 auto;
}
.sidenav-view{
  position: -webkit-sticky;
  position: sticky;
  width: fit-content;
  height: fit-content;
  top: 0;

}
.sidenav-class {
  width: 240px;
  height: 1000px;
  overflow: auto;
  padding: 2px;
}
.formContainer {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.form-content {
  display: flex;
  justify-content: center;

}
.buttonContainer {
    text-align: center;
}
.sideBarContainer{
  margin: 10px;
}
.prereq{
  color: red;
}
.field {
  background-color: white;
}
