
<div>
  <mat-sidenav-container class = "example-container">
    <mat-sidenav  mode="side" opened>
      <div class = "sideBarContainer">
        <div class = "formContainer" >
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Class Number</mat-label>
              <mat-hint> Required </mat-hint>
              <input matInput placeholder="AAA0000">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>
                Semester
              </mat-label>
              <mat-hint>
                Required
              </mat-hint>
              <mat-select>
                <mat-option value = "Summer">
                  Summer
                </mat-option>
                <mat-option value = "Fall">
                  Fall
                </mat-option>
                <mat-option value = "Spring">
                  Spring
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class = "buttonContainer">
            <button mat-fab color = "accent" >
              <mat-icon>
                search
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content >
      <p>Main Content<p>
      <p>a</p>
      <p>a</p>
      <p>a</p>
      aside

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
