/*@import '~@angular/material/theming';*/
.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.example-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.buttonContainer {
    text-align: center;
}
.formContainer {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sideBarContainer{
  margin: 10px;
}
.prereq{
  color: red;
}
