  <mat-sidenav-container class = "example-container" >
    <mat-sidenav  mode="side"
    opened
    [fixedInViewport]="true"
    [fixedTopGap]="60"

    class = "example-sidenav"
    >
      <div class = "sideBarContainer">
        <div class = "formContainer" >
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Class Number</mat-label>
              <mat-hint> Required </mat-hint>
              <input matInput placeholder="AAA0000" [(ngModel)] = "classNum">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>
                Semester
              </mat-label>
              <mat-hint>
                Required
              </mat-hint>
              <mat-select [(ngModel)] = "semester">
                <mat-option value = "Summer">
                  Summer
                </mat-option>
                <mat-option value = "Fall">
                  Fall
                </mat-option>
                <mat-option value = "Spring">
                  Spring
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class = "buttonContainer">
            <button mat-fab color = "accent" (click) = "getCourses()">
              <mat-icon>
                search
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <mat-card *ngFor="let course of courses">
          <mat-card-header>
            <mat-card-title>
              {{course.name}}
            </mat-card-title>
            <mat-card-subtitle>
              <div class="prereq">
                {{course.prerequisites}}
              </div>
              <div>
                {{course.description}}
              </div>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </div>

    </mat-sidenav-content>
    <footer>hello</footer>
  </mat-sidenav-container>
