
<mat-toolbar color = "primary">
    <span><mat-icon svgIcon="CLogo"></mat-icon></span>
    <span><a routerLink="/home" routerLinkActive="active">Home</a> </span>
    <span><a routerLink="/scheduler" routerLinkActive="active">Scheduler</a></span>
    <span> <a routerLink="/projects" routerLinkActive="active">Projects</a></span>
    <span> <a routerLink="/" routerLinkActive="active">About</a></span>
    <span class = "spacer"></span>
    <span> <mat-icon svgIcon="LinkedIn"></mat-icon></span>
    <span> <mat-icon svgIcon="Github"></mat-icon></span>
</mat-toolbar>
  <!--<ul>

    <li><img src = "assets/img/CLogo.svg" class="logo"></li>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/scheduler" routerLinkActive="active">Scheduler</a></li>
    <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li><a >wah</a></li>
  </ul>-->
